[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  overflow: hidden;
  background: #fff;
  border: 0px;
  border-radius: 2px;
}